<!DOCTYPE html>
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        title 天下第一碗
        // seo
        mate(name="Title",content="天下第一碗")
        mate(name="KeyWords",content="")
        mate(name="Description",content="")
        // 手機解析度
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // IE瀏覽器模式
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        // css
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/slick.css")
        link(rel="stylesheet", href="css/master.css")
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 11]>
        <script>alert('您正在使用版本過舊的瀏覽器，系統即將自動導向google瀏覽器下載頁面');window.location="https://www.google.com.tw/chrome/browser/desktop/";</script>
        <![endif]-->

    body
     // header
     div#header
        nav.navbar.navbar-expand-lg.navbar-light.container
            a.navbar-brand(href="#")
                img.img-fluid(src="images/logo.png", alt="行政院農業委員會農糧署")
            button.navbar-toggler(type="button",data-toggle="collapse",data-target="#toplist",aria-controls="toplist",aria-expanded="false",aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div#toplist.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item.active.item1
                        a.nav-link(href="page02.html",title="賽制")
                            span.sr-only 賽制
                    li.nav-item.item2
                        a.nav-link(href="page03.html",title="評審介紹")
                            span.sr-only 評審介紹
                    li.nav-item.item3
                        a.nav-link(href="page04.html",title="賽程花絮")
                            span.sr-only 賽程花絮
                    li.nav-item.item4
                        a.nav-link(href="page05.html",title="24強視吃投票")
                            span.sr-only 24強視吃投票
                    li.nav-item.item5
                        a.nav-link(href="page06.html",title="評審標準")
                            span.sr-only 評審標準
                    li.nav-item.item6
                        a.nav-link(href="page07.html",title="得獎名單")
                            span.sr-only 得獎名單
                    li.nav-item.item7
                        a.nav-link(href="page08.html",title="注意事項")
                            span.sr-only 注意事項
                div.my-2.my-lg-0
                    //- form.search-box
                    //-     input.search-text.mr-sm-2(type="search", placeholder="Search")
                    //-     button.search-submit(type="submit")
                    //-         img(src="images/bt-sh.png", alt="搜尋")
                    a.bt-down(href="#",title="下載報名表")
     // top-banner  
     div#br-top
        div
            img.img-fluid(src="images/banner01.jpg", alt="banner")
        div
            img.img-fluid(src="images/banner01.jpg", alt="banner")
        div
            img.img-fluid(src="images/banner01.jpg", alt="banner")
     // btgroup
     ul.main-btgroup
        li.item.item1
            a.link(href="#")
                span.d-none 活動宗旨
        li.item.item2
            a.link(href="#")
                span.d-none 活動簡章
        li.item.item3
            a.link(href="#")
                span.d-none 下載報名表
     // game-wrap
     div#game-wrap
        div.container.text-center
            img.img-fluid.d-none.d-md-inline(src="images/pg02-con.png", alt="")
            img.img-fluid.d-inline.d-md-none(src="images/pg02-con-m.png", alt="")

     // footer
     div#footer.container
        div.row
            div.col-md-5
                div
                    img.logo-ft.img-fluid(src="images/logo.png", alt="")
                    p 中興辦公區: 54044南投縣南投市光華路8號(049)233-2380 
                        br 
                        |台北辦公區: 10050台北市杭州南路1段15號(02)2393-7231
                        br 
                        |行政院農業委員會農糧署版權所有，未經允許，不得以任何形式複製和採用
                    p 建議瀏覽器：Chrome、Firefox、Edge、IE10.0以上版本、Safari
                        br 
                        |( 螢幕最佳顯示效果為1366 x 768 )

            div.col-md-4
                p
                    |【隱私權及安全政策】
                    br
                    |【政府網站資料開放宣告】
                    br
                    |【本署位置圖本署位置圖】
                p 
                    |國產雜糧原料服務專線: (049)234-1118
                    br
                    |進口有機農產品專線＜諮詢窗口一覽表＞
                    br
                    |吉園圃服務專線: (049)234-1077 傳真: (049)235-9784
                    br
                    |農產品走私檢舉專線: 0800-054300
                    br
                    |大蒜諮詢專線: (049)234-1064
            div.col-md-3
                p 瀏覽人數：1271092  
                    br
                    |在線人數：91
                ul.link-icon
                    li.icon
                        a(href="#",target="_blank")
                            img(src="images/soc_01.png", alt="facebook")
                    li.icon
                        a(href="#",target="_blank")
                            img(src="images/soc_03.png", alt="facebook")
                     li.icon
                        a(href="#",target="_blank")
                            img(src="images/soc_05.png", alt="facebook")

     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
     script(src="js/bootstrap.min.js")
     // 輪播
     script(src="js/slick.min.js")
     script(src="js/all.js")